<h1>Soup Categories</h1>
<ul>
<% @categories.each do |category| %>
	<li><%= link_to category.name, category %> (<%= category.soups.size %>)</li>
	<% end %>
	<% if session[:vip] %>
		<li>Super Secret Bouillon</li>
	<%end%>
</ul>