<h1>Category: <%= @category.name%></h1>
<ul>
	<% @category.soups.each do |soup|%>
	<li>
		Soup: <%= link_to soup.name, soup %>
	</li>
	<% end %>
</ul>

<p><%= link_to "Back to Soup Categories", categories_path %></p>